.own-message-wrap {
  width: inherit;
  display: flex;
  justify-content: flex-end;
}

.own-message {
  background-color: rgb(55, 42, 59);
  margin-bottom: 5px;
  border-radius: 1em;
  color: white;
  overflow-wrap: anywhere;
  width: 260px;
  padding: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);
  display: grid;
  grid-template-columns: 60px auto;
  grid-gap: 10px;
}

.own-message-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.own-message .message-time {
  font-size: small;
  color: #bbb;
  text-align: end;
  margin-top: 5px;
}

.own-message .message-text {
  text-align: end;
}

.own-message .buttons {
  grid-gap: 5px;
  display: grid;
  align-content: center;
}

.message-edit,
.message-delete {
  padding: 7px;
  border: none;
  background: #ccc;
  color: #333;
  cursor: pointer;
  border-radius: 0.5em;
  text-transform: capitalize;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.message-edit:hover,
.message-delete:hover {
  opacity: 0.9;
}
