.edit-message-modal {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.edit-message-modal.modal-shown {
  display: block;
}

.modal-content {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  background-color: white;
  padding: 20px;
  padding-top: 30px;
  width: 300px;
  border-radius: 1em;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.edit-message-input {
  width: 95%;
  padding: 6px;
  border-radius: 0.1rem;
  border: 1px solid;
  font-size: 16px;
}

.edit-message-input:hover {
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.edit-message-input:active,
.edit-message-input:focus {
  box-shadow: 0 0 15px 4px rgb(218, 215, 221);
  border-color: white;
}

.edit-message-button,
.edit-message-close {
  padding: 7px;
  border: none;
  background: #333;
  color: white;
  width: 80px;
  font-size: 16px;
  cursor: pointer;
}

.edit-message-button:hover,
.edit-message-close:hover {
  opacity: 0.9;
}

.modal-buttons {
  display: flex;
  grid-gap: 5px;
  justify-content: flex-end;
  margin-top: 20px;
}

.modal-buttons button {
  border-radius: 0.5em;
}

.modal-title {
  font-size: 28px;
  margin-bottom: 20px;
}
