.header {
  display: flex;
  justify-content: space-between;
  grid-gap: 15px;
  padding: 20px 0px;
  font-size: 24px;
}

.header-left-content {
  display: flex;
  grid-gap: 30px;
}

.header-users-count-wrap,
.header-messages-count-wrap,
.header-last-message-date-wrap {
  display: flex;
  grid-gap: 10px;
}

.header-users-count,
.header-messages-count,
.header-last-message-date {
  color: #690303;
  font-weight: bold;
}

.header-title {
  font-weight: bold;
}
