.chat {
  background-color: white;
  border-radius: 2em;
  position: relative;
  width: 90%;
  height: 90%;
  padding: 20px;
  display: grid;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
