.App {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  background-image: radial-gradient(rgb(116, 88, 141) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
